

<div id="creativity-eyes">
  <section class="fullscreen-section">
      <div class="page-separator"></div>
      <div class="testimonial-container">
          <h2 class="section-title">What Creativity Means to Me</h2>
          <p class="testimonial-text">Travel is my greatest source of inspiration. Each destination tells a unique story through its architecture—humanity’s most distinct fingerprint. From the intricate details of historic cathedrals to the sleek lines of modern design, architecture
              reflects the creativity and culture of those who built it.</p>
          <p class="testimonial-text">Art and culture are equally captivating. Visiting museums or simply wandering the streets of a new city allows me to discover unexpected beauty—whether it’s a hidden mural on a side alley or a local artisan’s craft. I like to capture these
              moments through photography, always seeking creative ways to frame a story through my lens. Every photograph becomes more than an image; it’s a memory, a perspective, and a reflection of how I see the world.</p>
      </div>
      <div class="carousel-container">
          <div id="travelCarousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                  <div class="carousel-item"><img class="carousel-image" alt="Eze" src="https://biancam30.github.io/AWD/static/media/Eze.c512da65d972b69c1602.jpg"></div>
                  <div class="carousel-item active carousel-item-start"><img class="carousel-image" alt="Flamingo" src="https://biancam30.github.io/AWD/static/media/flamingo.a16cf5fb05e83acef951.jpg"></div>
                  <div class="carousel-item carousel-item-next carousel-item-start"><img class="carousel-image" alt="Madrid" src="https://biancam30.github.io/AWD/static/media/Madrid.808590e0a3cf87b5fc94.jpg"></div>
                  <div class="carousel-item"><img class="carousel-image" alt="Menton" src="https://biancam30.github.io/AWD/static/media/Menton.7249a05185c46bac3a06.jpg"></div>
                  <div class="carousel-item"><img class="carousel-image" alt="Mona Lisa" src="https://biancam30.github.io/AWD/static/media/Monalisa.e3dd22972346c4e9bb9c.jpg"></div>
                  <div class="carousel-item"><img class="carousel-image" alt="Paris" src="https://biancam30.github.io/AWD/static/media/Parisjpg.2f78c23331d834eece7f.jpg"></div>
                  <div class="carousel-item"><img class="carousel-image" alt="Louvre" src="https://biancam30.github.io/AWD/static/media/Luvru.6d9c4a0a051003d62697.jpg"></div>
                  <div class="carousel-item"><img class="carousel-image" alt="Rome" src="https://biancam30.github.io/AWD/static/media/Roma.ee8d92bb5b4591484e9a.jpg"></div>
                  <div class="carousel-item"><img class="carousel-image" alt="Colmar" src="https://biancam30.github.io/AWD/static/media/Colmar.65e7649fde4fd0be49ed.jpg"></div>
                  <div class="carousel-item"><img class="carousel-image" alt="Strasbourg" src="https://biancam30.github.io/AWD/static/media/Strasbourg.2598fdd4705dd56dbd44.jpg"></div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#travelCarousel" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
              <button class="carousel-control-next" type="button" data-bs-target="#travelCarousel" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></button>
          </div>
      </div>
  </section>
</div>


<!------------------------------next sections----------------------------->
<div id="creativity-lab">
  <section id="creativity-lab" class="container py-5">
      <div class="page-separator"></div>
      <div class="headline">
          <h1>Creativity Lab</h1>
          <h2>Got a creative spark? Let your imagination flow on the canvas below.</h2></div>
      <div class="canvas-container">
          <canvas width="800" height="400" class="canvas"></canvas>
          <div class="canvas-tools text-center mt-3">
              <button class="btn btn-primary me-2">Clear Canvas</button>
          </div>
      </div>
  </section>
</div>


