<div id="types-of-creativity">
  <section id="types-of-creativity" style="background-image: url('https://biancam30.github.io/AWD/static/media/landing_page.806e43f29e972ec55c3d.jpg'); background-size: cover; background-position: center center; color: white; padding: 50px 0px;">
      <div class="container text-center">
          <header class="mb-5">
              <h1>Discovering Creativity</h1>
              <p>A journey through the neuroscience of creativity, inspired by the groundbreaking work of Arne Dietrich. In this pioneering book, Dietrich explores the neurobiological basis of creativity, demystifying the "right-brain" theory and presenting
                  creativity as a whole-brain phenomenon.</p>
          </header>
          <h2 class="mb-4">The Types of Creativity</h2>
          <div class="row justify-content-center">
              <div class="col-lg-5 m-2 col-12">
                  <div class="creativity-card p-4">
                      <h3>Deliberate and Cognitive</h3>
                      <p>This type of creativity relies on deliberate thought and existing knowledge, often seen in inventors like Thomas Edison. It involves methodical research, experimentation, and refinement.</p>
                  </div>
              </div>
              <div class="col-lg-5 m-2 col-12">
                  <div class="creativity-card p-4">
                      <h3>Deliberate and Emotional</h3>
                      <p>This creativity comes from emotional introspection, often leading to insights during reflection. It involves time spent thinking deeply about personal experiences or challenges.</p>
                  </div>
              </div>
              <div class="col-lg-5 m-2 col-12">
                  <div class="creativity-card p-4">
                      <h3>Spontaneous and Cognitive</h3>
                      <p>This type arises when the subconscious mind combines knowledge to create new ideas. It often happens during unrelated activities, like Newton's discovery of gravity.</p>
                  </div>
              </div>
              <div class="col-lg-5 m-2 col-12">
                  <div class="creativity-card p-4">
                      <h3>Spontaneous and Emotional</h3>
                      <p>Highly emotional and spontaneous creativity, often linked to art or music. It feels like an epiphany and can produce deeply impactful works.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>
