<div class="to_header">
  <div class="container">
    <div class="inner_wraping_header">
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="site_logo">
            <a routerLink="">
              <h2>Organisation</h2>
            </a>
          </div>
        </div>
        <div class="col-lg-9 col-6">
          <div class="menu_desk d-flex gap-5 justify-content-end">
            <ul>
              <li>
                <a (click)="scrollToSection($event, 'creative-expressions')">
                  Creative Expressions
                </a>
              </li>
              <li>
                <a (click)="scrollToSection($event, 'essence-organisation')">
                  Essence of Organisation
                </a>
              </li>
              <li>
                <a (click)="scrollToSection($event, 'organisation-context')">
                  Organisation in Contexts
                </a>
              </li>
            </ul>
            <div class="toggle_btns">
              <a href="javascript:void(0)" class="toggler_btn toggle-menu">
                <span></span>
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="26" height="27" viewBox="0 0 42 43" fill="none">
                    <path d="M12.1836 21.5391H37.8173" stroke="#19CBC9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.18359 30.0859H29.8173" stroke="#19CBC9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.18359 12.9922H29.8173" stroke="#19CBC9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg> -->
              </a>
              <!-- <a href="">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="43" viewBox="0 0 42 43" fill="none">
                  <path d="M12.1831 21.9375H37.8168" stroke="#F24822" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M4.18311 30.4805H29.8168" stroke="#F24822" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M4.18311 13.3945H29.8168" stroke="#F24822" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
            </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--------------------------------Menu-------------------->
<div id="menu" class="">
  <nav class="main-nav">
    <ul>
      <li>
        <a (click)="scrollToSection($event, 'creative-expressions')">
          Creative Expressions
        </a>
      </li>
      <li>
        <a (click)="scrollToSection($event, 'essence-organisation')">
          Essence of Organisation
        </a>
      </li>
      <li>
        <a (click)="scrollToSection($event, 'organisation-context')">
          Organisation in Contexts
        </a>
      </li>
    </ul>
  </nav>

  <footer class="menu-footer">
    <nav class="footer-nav">
      <ul>
        <li>
          <a href="#">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-brands fa-x-twitter"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </li>
      </ul>
    </nav>
  </footer>
</div>
