
@media only screen and (max-width: 375px) and (min-width: 346px) {
}

@media only screen and (max-width: 544px) and (min-width: 375px) {
}

@media only screen and (max-width: 555px) and (min-width: 376px) {
}

@media only screen and (max-width: 768px) and (min-width: 544px) {
}

@media only screen and (max-width: 1422px) and (min-width: 999px) {

}

@media only screen and (max-width: 1658px) and (min-width: 1000px) {
    .principal_wrapers_img>img {
        width: 90% !important;
    }
    .banner_content>h2 {
        font-size: 65px !important;
    }
    .main_hero.slick-slide {
        height: 720px !important;
        background-size: cover !important;
        background-position: center !important;
        /* width: 100% !important; */
    }
    .Prc_header.choose_us_pers>h2 {
        font-size: 34px;
    }
}

@media only screen and (max-width: 1500px) and (min-width: 993px) {
  .menu_desk>ul>li>a{
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 991px) and (min-width: 300px) {
  .full_heading>h2{
    text-align: center;
  }
  .ceo_desk {
    padding-top: 10px;
}
.site_logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.site_logo>a {
  text-decoration: none;
  color: #191e24;
}

.site_logo>a>h2 {
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
}
  .alumini_card {
      margin-bottom: 35px;
  }
  .full_heading>h2 {
    font-size: 32px;
}
.banner_admision>h2 {
  font-size: 28px;
  margin-bottom: 10px;
}
.full_content>h2 {
  font-size: 32px;
  margin-bottom: 20px;
}
.full_content>h2>span {
  font-size: 32px;
}
.faq-question>span {
  font-size: 16px;
}
.faq-item {
  padding: 20px 0px;
}
.banner_admision {
  padding: 65px 0px;
  border-radius: 20px;
}
.class_wise_card {
  margin-bottom: 30px;
}
.img_wraper {
  margin-bottom: 30px;
}
}

@media only screen and (max-width: 400px) and (min-width: 300px) {
}

@media only screen and (max-width: 826px) and (min-width: 572px) {
}

@media only screen and (max-width: 370px) and (min-width: 320px) {
}

@media only screen and (max-width: 900px) and (min-width: 370px) {
}

@media only screen and (max-width: 551px) and (min-width: 300px) {
}

@media only screen and (max-width: 1024px) and (min-width: 826px) {
}

@media only screen and (max-width: 11200px) and (min-width: 1600px) {
}

@media only screen and (max-width: 999px) and (min-width: 400px) {
}

@media only screen and (max-width: 999px) and (min-width: 551px) {
}

@media only screen and (max-width: 1422px) and (min-width: 1300px) {
}

@media only screen and (max-width: 1524px) and (min-width: 1422px) {
}

@media only screen and (max-width: 1657) and (min-width: 1524px) {
}

@media only screen and (max-width: 11200px) and (min-width: 1400px) {
}

@media only screen and (max-width: 1000px) and (min-width: 700px) {
}

@media only screen and (max-width: 999px) and (min-width: 300px) {
  .site_logo.mobile_logo{
    display: none !important;
  }
  div#par2 .h-100 {
    height: auto !important;
}
.about_img>img {
  width: 90%;
  margin: auto;
}

.about_img {
  text-align: center;
}

.about_content>h2 {
  font-size: 40px;
  line-height: 40px;
}
.about_content>h2>span {
  font-size: 40px;
}
.main_content>h2 {
  font-size: 42px;
}
.main_content>h2>span {
  font-size: 50px;
}
.main_content>h2 {
  margin-bottom: 0px;
}
.main_bottom_point>h4{
  margin-bottom: 5px;
}
.grid_area_section.mb-4 {
  margin-bottom: 15px !important;
}
.title_wrp>h4 {
  color: #191E24;
  font-family: Roboto;
  font-size: 13px;
}
.rounds {
  width: 65px;
  height: 65px;
}
.rounds span {
  width: 20px;
}
.event_item_content>h2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 5px;
}
.blank_75.only_hide{
  display: none !important;
  height: 0px !important;
}
.event_item_content>h4 {
  font-size: 13px;
}
a.view_more {
  color: #191E24;
  background-color: #fff;
  width: 66px;
  height: 66px;
  border-radius: 500px;
  font-family: Roboto;
  font-size: 12px;
  right: 50px;
  bottom: 50px;
}
div#par3 {
  min-height: 100% !important;
  height: 100% !important;
}
.event_item.mb-3 {
  width: 45%;
  float: left;
  margin: 10px;
}
.row.h-100.align-items-center.auto_height {
  height: auto !important;
}
div#par3 {
  padding-top: 80px;
}
#menu .main-nav a {
  font-size: 20px;
}

/*header*/
.thumbnail-slider {
  display: none !important;
}
.gps>img {
  width: 100%;
}
.dot_paterns {
  position: absolute;
  bottom: -47px;
  right: 10px;
}
.testimonial_cards {
  position: relative;
  margin-bottom: 35px;
}
.hero_section {
  overflow: hidden;
}
.menu_desk>ul {
  display: none;
}

.main_hero.slick-slide {
  height: 600px !important;
}
.custom-dots-container {
  bottom: 0;
}

.items_card.left_bottom {
  margin-bottom: 24px;
}
/*contact us*/
.contact_box_wrapers {
  padding-bottom: 50px;
}


.Prc_header.choose_us_pers>h2 {
  font-size: 36px;
}
.Prc_header>span {
  font-size: 36px;
}
.btn-wrap-slide {
  bottom: 15px;
}
.gallery_box.opacity-0 {
  display: none;
}
.principal_wrapers_img>img {
  width: 100% !important;
}
.site_logo>a>img {
  width: 69px;
}
.inner_wraping_header {
  height: 75px;
}
.site_logo {
  line-height: 75px;
}
.toggle_btns {
  height: 75px;
}
.toggle_btns {
  display: flex;
}
}

@media only screen and (max-width: 999px) and (min-width: 768px) {
  .right_shape_image>img {
    height: 100%;
    z-index: 0;
  }

  .header_principal_desk {
    position: relative;
    z-index: 1;
  }
  .right_shape_image {
    width: 60%;
    bottom: 0;
  }
  .principal_wrapers_img>img {
    width: 100% !important;
}
}
